/* FOOTER STYLING */
.footer {
    height: fit-content;
    width: calc(100% - 300px);
    margin-left: 250px;
    padding: 64px 32px;
    background: url(/image_all/footer\ overlay.png) no-repeat center;
    align-items: start;
    color: rgb(0, 0, 0);
    background-size: 150% auto;
    background-attachment: fixed;
    overflow-x: hidden;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
}

footer .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 30%;
}

footer .left img {
    width: 330px;
}

footer .left p {
    font-size: 14px;
    line-height: 1.5;
    color: #0a66c2;
}

footer .left a {
    font-size: 14px;
    text-decoration: none;
    color: var(--maintheme);
}

footer .links-head,
.links-social {
    max-width: 30%;
    align-items: start;
}

footer .links {
    display: flex;
    gap: 24px;
}

.links-head h3,
.links-social h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    align-items: start;
}

.links-head .links-1,
.links-2,
.links-3,
.links-social .links-1,
.links-2 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.links-head a,
.links-social a {
    text-decoration: none;
    color: grey;
    transition: 0.3s ease-in-out;
    font-size: 14px;
}

.links-head a:hover,
.links-social a:hover {
    color: var(--maintheme);
    text-decoration: underline;
    align-items: start;
}

.links-social .links a {
    display: flex;
    align-items: start;
    gap: 8px;
}

/* Copyright Section */
.copyrightsection {
    width: calc(100% - 300px);
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    background: #f4f1f1;
    color: rgb(20, 11, 11);
    overflow-x: hidden;
    margin-top: 5px;
}

.copyrightsection p,
.copyrightsection a {
    font-size: 12px;
}

.copyrightsection .link {
    display: flex;
    gap: 12px;
}

.copyrightsection .link a {
    text-decoration: none;
    color: grey;
    transition: 0.3s;
}

.copyrightsection .link a:hover {
    color: var(--maintheme);
}

.about-text {
    margin-top: 20px;
}